:root{
    --primary-color: #121212;
    --secondary-color: #1e1e1e;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    font-family: "Poppins", sans-serif;
}

.black{
    background-color: var(--primary-color);
}

.blue{
    background-color: #0A78B9;
}

.bottom-number{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.top-number{
    cursor: pointer;
}

body{
    min-height: 100vh;
    min-width: 100vh;
    background-color: var(--primary-color);
}

.card{
    width: 100px;
    height: 160px;
    display: flex;
    flex-direction: column;
    font-family: "Barlow Condensed", sans-serif;
    color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: transform 0.2s ease;
}

.cards-left{
    cursor: pointer;
}

.card-deck:not(:first-child) {
    margin-left: -55px; 
}


.card-player:hover {
    transform: translateY(-10px); 
    z-index: 30;
}

.card-hidden{
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
}

.circle-container{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-hidden img{
    width: 100%;
  height: 100%;
  object-fit: contain;
}

.circle-img{
    align-self: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.deck{
    height: 200px;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.edge{
    font-size: 20px;
    padding: 10px;
}

.green{
    background-color: #84C03F;
}

.jump-img-top,.reverse-img-top{
    margin: 10px 10px 10px 10px;
    height: 16px;
    width: 16px;
    object-fit: contain;
}

.jump-img-bottom,.reverse-img-bottom{
    margin: 10px 10px 10px 10px;
    height: 16px;
    width: 16px;
    object-fit: contain;
    align-self: flex-end;
    justify-self: flex-end;
}

.jump-img,.reverse-img{
    height: 64px;
    width: 64px;
    object-fit: contain;
    flex-grow: 1;
    align-self: center;
    justify-self: center;
}

.main-window{
    display: flex;
}

.mid-number{
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 64px;
    justify-content: center;
}

.option{
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
}

.option:hover{
    transition: all .5s ease;
    background-color: #2d2d2d;
    color: #fff;
}

.option p{
    margin-left: 20px;
    transition: all .5s ease;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #b0b0b0;
}

.option p:hover{
    transition: all .5s ease;
    color: #fff;
}

main > section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.option-sidebar{
    height: 100vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.press{
    font-family: "Poppins", sans-serif;
    font-size: 36px;    
    color: #B0B0B0;
    position: relative;
    bottom: 10vh;
}

.red{
    background-color: #ED1C24;
}

.side-img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    align-self: center;
}

.slogan{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    position: relative;
    bottom: 10vh;
}

.start-img{
    height: 500px;
    width: 500px;
    object-fit: contain;
    rotate: 20deg;
    cursor: pointer;
    transition: all .5s ease;
}

.start-img:hover{
    transition: all .5s ease;
    transform: scale(1.2);
}

strong{
    position: relative;
    top: 10vh;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.welcome-window{
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.yellow{
    background-color: #FFD237;
}

.selection-window{
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.selection-window h2 {
    position: relative;
    top: 7vh;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.selection-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.selection-card{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.selection-card:hover {
    background-color: #2d2d2d;
    box-shadow: 5px 5px 5px 5px var(--primary-color);
    transition: all .2s ease;
}

.selection-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 20px;
}

.selection-card h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.selection-card p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #b0b0b0;
    text-align: center;
    margin-top: 10px;
}

.v3player-deck{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    
    place-items: center;
    margin-top: 100px;
    grid-template-areas: 
    "rival-one middle rival-two"
    "player player player"
    ;
}

/*Aqui puse el height y el width para probar que tal se veia*/
.v4player-deck {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
    grid-template-areas: 
        "rival-three rival-three rival-three"
        "rival-one middle rival-two"
        "player player player";
    gap: 20px;
}

.rival-one {
    grid-area: rival-one;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}

.rival-two {
    grid-area: rival-two;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
}

.rival-three {
    grid-area: rival-three;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: rotate(180deg);
}

.middle {
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player {
    grid-area: player;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-center;
    gap: 10px;
}
.uno-button {
    height: 100px;
    width: 100px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25%;
    cursor: pointer;

}

.uno-button img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.uno-button:hover {
    background-color: #2d2d2d;
    box-shadow: 2px 2px 2px 2px var(--primary-color);
    transition: all .2s ease;
}

.selection-windowPlayer{
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    background-color: var(--secondary-color);
}

.selection-windowPlayer h2 {
    position: relative;
    top: 7vh;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.selection-card-containerPlayer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.card-table-deck{
    cursor: pointer;
}

@keyframes arriveCard {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
.card-animate-arrive {
    animation: arriveCard 0.3s ease-out;
}

@keyframes playCard {
    0% { transform: translateY(0) rotate(0); opacity: 1; }
    100% { transform: translateY(-100px) rotate(10deg); opacity: 0; }
}
.card-animate-play {
    animation: playCard 0.5s forwards;
    position: relative;
    z-index: 100;
}

/*Boton audio */

.botonAudio{
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1E1E1E;
    margin-top: auto;
    margin-bottom: 20px;
    align-self: left;
    transition: all 0.25s ease;
    border-width: 0;
}

.botonAudio p{
    font-size: 1.5rem;
    color: #B0B0B0;
    text-align: center;
}


.botonAudio:active {
    text-align: center;
    background-color: #2d2d2d;
    transition: all .2s ease;
}

.botonAudio:active p{
    color: #fff;
}

.notification-window.hidden {
  display: none;
}

.notification-window {
    color: white;
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: #2d2d2d8b;
    width: 250px;
    height: auto;
    align-items: center;
    justify-items: center;
    border-radius: 10%;
    transition: all 0.3s ease;
    padding: 20px;
}

.notification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    border-radius: 10%;
}

.notification-content hidden{
    display: none;
}

.notification-window hidden{
    display: none;
}

.modal.hidden {
  display: none;
}



.modal {
    color: white;
    position: absolute;
    background-color: #2d2d2d;

    /*Medidas para ganador*/
    top: 20%;
    left: 40%;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-items: center;
    border-radius: 10%;
    transition: all 0.3s ease;

}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    font: Poppins;
}

.modalButtons{
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 80px;
}

.modalButtons button{
    background-color: #121212;
    color: white;
    border-radius: 10%;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.modalButtons button:hover{

    background-color: #2d2d2d;
    box-shadow: 2px 2px 2px 2px var(--primary-color);
    transition: all .2s ease;

}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
    font-family: Arial, sans-serif;
}

.modal-content th {
    background-color: #121212;
    color: #ddd;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

.modal-content td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.notification-window{

    font-family: "Poppins", sans-serif;

}
.unoScream {
    color: white;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-items: center;
    border-radius: 10%;
    transition: all 0.3s ease;
}

.unoScream-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    font: Poppins;
}

.unoScream-content .hidden {
    display: none;
}

.unoScream .hidden{
    display: none;
}

.unoScream img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-bottom: 20px;
}